.footer {
  display: flex;
  justify-content: center;
  background: var(--primary-background-color);
  padding-top: 29px;
  padding-bottom: 29px;
  border-top: 1px solid var(--modal-border-color);
}

.footer__container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.footer__text {
  max-width: 240px;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  line-height: 2em;
  color: var(--accent-background-color);
}

.footer__text__students {
  text-decoration: underline;
  cursor: pointer;
  transition: color var(--animation);
}

.footer__text__students:hover,
.footer__text__students:focus {
  color: var(--primary-text-color);
}

.footer__svg {
  fill: var(--accent-heart);
}
