:root {
  --black-text-color: #000000;
  --white-text-color: #ffffff;
  --light-text-color: #8c8c8c;
  --dark-text-color: #3e85f3;
  --accent-text-color: #ff6b08;
  --mainBGL: #e5e5e5;
  --lightBG: #f7f7f7;
  --accentBG: #ff6b01;
  --modal-overlay: rgba(0, 0, 0, 0.25);
  --modal-movie-bgc: #ffffff;
  --Gap16: 16px;
  --Gap20: 20px;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}
.footer {
  display: flex;
  justify-content: center;
  background: var(--lightBG);
  padding-top: 29px;
  padding-bottom: 29px;
}

.footer__container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.footer__text {
  max-width: 240px;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  line-height: 2em;
  color: var(--dark-text-color);
}

.footer__text__students {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14px;
  color: var(--dark-text-color);
  text-decoration: underline;
  cursor: pointer;
}

.footer__svg {
  fill: var(--accent-heart);
}
