.footer-modal__container {
  border: 2px transparent solid;
  border-radius: 10px;

  background-color: var(--close-btn-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 25px 20px 25px;
}

.footer-modal__team {
  position: absolute;
  top: 10px;
  left: 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3em;

  color: var(--primary-background-color);
  text-align: left;
}

.footer-modal__button-close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  /* color: var(--primary-text-color); */
  /* color: #fff; */
  stroke: currentColor;
  fill: #fff;
  border-color: transparent;
  transition: color var(--animation);
  padding: 0;
  cursor: pointer;
}

.footer-modal__icon:hover,
.footer-modal__icon:focus {
  color: var(--accent-text-color);
}

.swiper {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
