:root {
  --Gap16: 16px;
  --Gap20: 20px;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0, 5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal.active .footer-modal__body {
  transform: translate(0px, 0px);
  opacity: 1;
}
.modal__content {
  margin: 0 auto;
  transform: scale(0.5);
  transition: 0.4s all;
}

.modal__content.active {
  transform: scale(1);
}

.footer-modal__container {
  border: 2px transparent solid;
  border-radius: 10px;
  /* background-color: var(--team-background-color); */
  /* width: 80vw; */
  /* background-color: var(--primary-background-color); */
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 25px 5px 25px;
}

.footer-modal__team {
  position: absolute;
  top: 10px;
  left: 25px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.3em;

  color: var(--primary-background-color);
  text-align: left;
}

.footer-modal__button-close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  /* color: var(--primary-text-color); */
  /* color: #fff; */
  stroke: currentColor;
  fill: #fff;
  border-color: transparent;
  transition: color var(--duration) var(--cubic);
  padding: 0;
  cursor: pointer;
}

.footer-modal__icon:hover,
.footer-modal__icon:focus {
  color: var(--accent-text-color);
}

.swiper {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
